// TODO
.info-box {
    .mu-appbar {
        box-shadow: none;
        background-color: #fff;
    }
    .mu-appbar-title {
        color: #333;
    }
    .mu-icon {
        color: #333;
    }
    .header {
        height: 56px;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .body {
        padding: 0 16px;
    }
}