// TODO
.info-box {
    position: fixed;
    z-index: 10000000;
    top: 0;
    right: 0;
    .mu-appbar {
        box-shadow: none;
        background-color: #fff;
    }
    .mu-appbar-title {
        color: #333;
    }
    .mu-icon {
        color: #333;
    }
    .header {
        height: 56px;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .body {
        padding: 0 16px;
    }
}

.ui-page-body {
    -webkit-overflow-scrolling : touch;
}
input,
textarea {
  -webkit-appearance: none;
}
.ui-message {
  display: flex;
  // max-width: 360px;
  min-width: 40px;
  height: auto;
}